.esempi{
    display: inline-grid; /*Creiamo una griglia con colonne automatiche in base alla grandezza dello schermo*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    width: 100%;
    justify-items: center; /*Centraimao gli esemmpi alla griglia*/
}
/*Proprietá esempi*/
.rcorners{
    text-align: center;
    background: var(--icone2);
    width: 200px;
    height: 150px;
    padding: 20px;
}

.rcornersback {
    border-radius: 25px;
}

.rcornersborder {
    border-radius: 25px;
    border: 2px solid var(--icone2);
    background: none; /*Dato che abbiamo impostato il background color a quai tutti gli esempi ma non in questo, lo rimuoviamo*/
}

.rcornersimg {
    border-radius: 25px;
    background: url(../IMAGES/kitty-cat-sandwich.gif);
    background-position: top; 
    background-size: cover; /*Copriamo tutta l'area possibile del elemento con l'immagine, e dato che i due non sono della stessa grandezza l'immagine verrá tagliata*/
}

.rcorners1 {
    border-radius: 15px;
}

.rcorners2 {
    border-radius: 15px 50px;
}

.rcorners3 {
    border-radius: 15px 50px 30px;
}

.rcorners4 {
    border-radius: 15px 50px 30px 5px;
}