.esempi{
    text-align: center;
    font-size: clamp(1rem, 1.8vw, 1.8rem); /*La dimensione del testo cambia in base alla larghezza del testo rimanendo tra 1rem e 1.8rem*/

}
/*Proprietá degli esempi*/
.punteggiato {
    border-style: dotted;
}

.tratteggiato {
    border-style: dashed;
}

.solido {
    border-style: solid;
}

.doppio {
    border-style: double;
}

.scanalatura {
    border-style: groove;
}

.cresta {
    border-style: ridge;
}

.interno {
    border-style: inset;
}

.esterno {
    border-style: outset;
}

.nessuno {
    border-style: none;
}

.nascosto {
    border-style: hidden;
}

.misto {
    border-style: dotted dashed solid double;
}

.solidocol {
    border-style: solid;
    border-color: blue;
}