/*In base alla garndezza dello schermo visualizziamo due elementi sulla stessa riga*/
@media only screen and (min-width: 900px){
    .esempi{
        display: inline-grid; /*Creiamo una griglia con 2 colonne di grandezza automatica e uno spazzio tra loro di 8%*/
        grid-template-columns: auto auto;
        gap: 8%;
    }
}
/*Proprietá esempi*/
.floatr {
    float: right;
    width: 170px;
    height: 170px;
    border-radius: 10%;
}

.floatl {
    float: left;
    width: 0.7em;
    font-size: 400%;
    font-family: algerian, courier;
    line-height: 80%;
}

.clearfix {
    border: 3px solid blue;
    padding: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clear {
    clear: both;
}

.titoli{
    text-align: center;
}

