/*Dichiariamo e assegnaimo le vairabili di base, come i colori dei testi e la velocitá delle trasazioni.
facciamo tutto nel root cosí che basta cambiare solo una sola proprietá e non tutte*/
:root {
    font-size: 15px;
    font-family: 'Trebuchet MS', sans-serif;
    --text-primary: gray;
    --text-secondary: white;
    --gb-primary: #23232e;
    --gb-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

/*In teoria questa parte dovrebbe modificare l'aspetto della scrollbar, peró non funziona ancora*/
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #000000;
}

body::-webkit-scrollbar-thumb {
    background: #360034;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

/*Navigation bar*/
.navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    position: fixed; /*Per rimanere sempre a destra anque quando si scrolla sotto*/
    background-color: var(--gb-primary);
    transition: width 300ms ease; /*Animazione del apertura della navigation bar*/
}

.navbar:hover {
    width: 16rem;
}

/*Elementi della navigation bar*/
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    /*Creiamo una flexbox, che conterra gli elementi della navigation bar*/
    display: flex;
    flex-direction: column; /*Di base gli elementi vanno in riga, ma dato che vogliamo la nostra barra a sinistra, lo impostiamo a colonne.*/
    align-items: center;
}
/*Per non mostrare gli elementi della navigation bar prima che finisca l'animazione, impostiamo overflow: hidden*/
.nav-item {
    width: 100%;
    overflow: hidden;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-secondary);
    background: var(--gb-secondary);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
    overflow: hidden;
}

/*Animazione rotazione prima icona*/
.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);/*Quando passiamo il mouse sopra la barra di navigazione ruotiamo l'icona di -180 gradi*/
}

.nav-icon {
    display: flex;
    align-items: center;
    text-align: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
/*Animazione icone*/
/*Ogni volta che passiamo il mouse su un icona o testo, riuduciamo l'effetto grayscale a 0, mostrando cosí il colore del icona*/
.nav-icon:hover, .nav-link a:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--gb-secondary);
    color: var(--text-secondary);
}

.icon-text {
    display: none;
    margin-left: 1rem;
}

.navbar:hover .icon-text {
    display: inline;
    transition: opacity var(--transition-speed);
}

.nav-icon svg,
.nav-icon i {
    min-width: 2.5rem;
    margin: 0 1.25rem;
    font-size: 2rem;
}
/*Colore icone*/
.fa-primary,
.fa-solid {
    color: rgb(116, 255, 135);
}

.fa-secondary {
    color: rgb(0, 158, 124);
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed); /*Velocitá animazione effeto grayscale*/
}


/*Dropdown menu*/
/*Qua iniziano i problemi*/
/*Impostiamo l'altezza del dropdown a 0px, cosí che l'animazione ha da dove partire*/
.nav-link {
    height: 0px;
    transition: height 1s ease;
}

.nav-link a {
    text-align: center;
    display: block; /*Impostiamo display: block per avere ogni link su una riga diversa*/
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7); 
    padding: 0px;
    overflow: hidden; /*Rendiamo non visibile il testo per non vederlo quando non si ha il mouse sul icona*/
    visibility: hidden;
    opacity: 0;
    height: 0px; 
    /*Velocitá animazioni*/
    transition: visibility 0s, opacity var(--transition-speed) linear, height var(--transition-speed), padding var(--transition-speed), grayscale var(--transition-speed) ;
}
/*Quando passiamo il mouse su un icona, il dropdown menu torna alla sua altezza originale*/
.nav-icon:hover+.nav-link,
.nav-link:hover {
    display: block;
    height: max-content;
}
/*Quando passiamo il mouse su un icona, i link del dropdown menu torna alla sua altezza originale e si rende visibile*/
  .nav-icon:hover+.nav-link a,
  .nav-link:hover a
  {
    visibility: visible;
    opacity: 1;
    height: auto;
    padding: 10px;
  }

/*Contenuto pagina*/
h1{
    text-align: center;
}

/* DA IMPLEMENTARE*/
/*Mobile ecc, per rendere la barra adatta ai dispositivi mobile*/
/*
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .icon-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }
}
*/